In [8]:
from pathlib import Path

In [9]:
import csv

In [10]:
csvpath = Path("/Users/emilianomendez/Downloads/budget_data.csv")

In [22]:
df = pd.read_csv(path)

In [23]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [24]:
path = "/Users/emilianomendez/Downloads/budget_data.csv"

In [25]:
import pandas as pd

In [26]:
pd.read_csv(path)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [27]:
from pathlib import Path

In [28]:
import csv

In [29]:
csvpath = Path("/Users/emilianomendez/Downloads/budget_data.csv")

In [ ]:
# Calculate total number of months:

In [30]:
df = pd.read_csv(path)
df['Profit/Losses'].count()

86

In [ ]:
# Calculate total Profit/Losses:

In [31]:
df['Profit/Losses'].sum()

38382578

In [ ]:
# The average of the changes in Profit/Losses over the entire period

In [32]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [ ]:
# Calculating change in Profit/Loss:

In [49]:
# Dependencies

In [50]:
import csv

In [51]:
from pathlib import Path

In [ ]:
# Files to load and output

In [78]:
file_to_load = Path("/Users/emilianomendez/Downloads/budget_data.csv")

In [79]:
file_to_output = Path("/Users/emilianomendez/Downloads/analysis.txt")

In [ ]:
# Financial parameters

In [80]:
total_months=0

In [81]:
month_of_change=[]

In [82]:
net_change_list=[]

In [83]:
greatest_increase=["",0]

In [84]:
greatest_decrease=["",9999999999999999]

In [85]:
total_net=0

In [63]:
# Read the csv and convert into a list of directories

In [86]:
with open(file_to_load) as financial_data:
    reader = csv.reader(financial_data)

In [66]:
# Calculating the average change

In [147]:
from pathlib import Path

In [148]:
import csv

In [149]:
path = "/Users/emilianomendez/Desktop/budget_data.csv"

In [150]:
import pandas as pd

In [151]:
pd.read_csv(path)

        Date  Profit/Losses    Change
0   Jan-2010         867884       0.0
1   Feb-2010         984655  116771.0
2   Mar-2010         322013 -662642.0
3   Apr-2010         -69417 -391430.0
4   May-2010         310503  379920.0
..       ...            ...       ...
81  Oct-2016         102685 -665765.0
82  Nov-2016         795914  693229.0
83  Dec-2016          60988 -734926.0
84  Jan-2017         138230   77242.0
85  Feb-2017         671099  532869.0

[86 rows x 3 columns]

In [ ]:
# Greatest increase in profits

In [156]:
df = pd.read_csv(path)

In [157]:
df['Change'].max()

1926159.0

In [ ]:
# Greatest decrease in profits

In [158]:
df['Change'].min()

-2196167.0

In [159]:
df['Change'].sum()

-196785.0

In [160]:
df['Change'].count()

86

In [175]:
df['Profit/Losses'].count()

86

In [ ]:
# Average change

In [161]:
average=(df['Change'].sum())/(df['Change'].count())

In [162]:
print(average)

-2288.1976744186045

In [ ]:
#Generate output summary:

In [189]:
output = (
    f"\nFinancial Analysis\n"
    f"____________________________________\n"
    f"Total_Months:{df['Profit/Losses'].count()}\n"
    f"Total: ${df['Profit/Losses'].sum()}\n"
    f"Average Change: ${(df['Change'].sum())/(df['Change'].count())}\n"
    f"Greatest Increase in profits: ${df['Change'].max()}\n"
    f"Greatest Decrease in profits: ${df['Change'].min()}\n"
)

In [190]:
print(output)

Financial Analysis
____________________________________
Total_Months:86
Total: $38382578
Average Change: $-2288.1976744186045
Greatest Increase in profits: $1926159.0
Greatest Decrease in profits: $-2196167.0