In [17]:
import pandas as pd

In [18]:
import numpy_financial

In [19]:
# Importing CSV

In [20]:
path = "/Users/emilianomendez/budget_data.csv"

In [21]:
pd.read_csv(path)

        Date  Profit/Losses    Change
0   Jan-2010         867884       0.0
1   Feb-2010         984655  116771.0
2   Mar-2010         322013 -662642.0
3   Apr-2010         -69417 -391430.0
4   May-2010         310503  379920.0
..       ...            ...       ...
81  Oct-2016         102685 -665765.0
82  Nov-2016         795914  693229.0
83  Dec-2016          60988 -734926.0
84  Jan-2017         138230   77242.0
85  Feb-2017         671099  532869.0

[86 rows x 3 columns]

In [23]:
from pathlib import Path

In [24]:
import csv

In [25]:
csvpath = Path("/Users/emilianomendez/budget_data.csv")

In [26]:
df = pd.read_csv(path)

In [27]:
df

        Date  Profit/Losses    Change
0   Jan-2010         867884       0.0
1   Feb-2010         984655  116771.0
2   Mar-2010         322013 -662642.0
3   Apr-2010         -69417 -391430.0
4   May-2010         310503  379920.0
..       ...            ...       ...
81  Oct-2016         102685 -665765.0
82  Nov-2016         795914  693229.0
83  Dec-2016          60988 -734926.0
84  Jan-2017         138230   77242.0
85  Feb-2017         671099  532869.0

[86 rows x 3 columns]

In [28]:
# Calculate total number of months:

In [29]:
df['Profit/Losses'].count()

86

In [30]:
# Calculate total Profit/Losses:

In [31]:
df['Profit/Losses'].sum()

38382578

In [32]:
# The average of the changes in Profit/Losses over the entire period

In [33]:
df

        Date  Profit/Losses    Change
0   Jan-2010         867884       0.0
1   Feb-2010         984655  116771.0
2   Mar-2010         322013 -662642.0
3   Apr-2010         -69417 -391430.0
4   May-2010         310503  379920.0
..       ...            ...       ...
81  Oct-2016         102685 -665765.0
82  Nov-2016         795914  693229.0
83  Dec-2016          60988 -734926.0
84  Jan-2017         138230   77242.0
85  Feb-2017         671099  532869.0

[86 rows x 3 columns]

In [34]:
# Calculating change in Profit/Loss:

In [35]:
# Dependencies

In [36]:
import csv

In [37]:
from pathlib import Path

In [38]:
# Files to load and output

In [39]:
file_to_load = Path("/Users/emilianomendez/budget_data.csv")

In [40]:
file_to_output = Path("/Users/emilianomendez/analysis.txt")

In [41]:
# Financial parameters

In [42]:
total_months = 0

In [43]:
month_of_change = []

In [44]:
net_change_list = []

In [45]:
greatest_increase = ["",0]

In [47]:
greatest_decrease = ['',99999999999999999]

In [48]:
total_net = 0

In [49]:
# Read csv and convert it into a list of dictionaries

In [66]:
with open(file_to_load) as financial_data:
    reader = csv.reader(financial_data)

In [62]:
# Read header row

header = next(reader)

In [65]:
# Extract first row to avoid appending to net_change_list

In [82]:
first_row = next(reader)
total_months = total_months + 1
total_net = total_net + int(first_row[1])
prev_net = int(first_row[1])

ValueError: I/O operation on closed file.

In [83]:
for row in reader:
    total_months = total_months + 1
    total_net = total_net + int(row['Profit/Losses'])

ValueError: I/O operation on closed file.

In [80]:
# Track the change

In [81]:
net_change = int(row['Profit/Losses']) - prev_net

NameError: name 'row' is not defined

In [84]:
# Greatest increase in profits

In [85]:
df = pd.read_csv(path)

In [86]:
df['Change'].max()

1926159.0

In [87]:
# Greatest decrease in profits

In [88]:
df['Change'].min()

-2196167.0

In [89]:
df['Change'].sum()

-196785.0

In [90]:
df['Change'].count()

86

In [91]:
# Average change

In [92]:
average=(df['Change'].sum())/(df['Change'].count())

In [93]:
print(average)

-2288.1976744186045

In [94]:
#Generate output summary:

In [95]:
output = (
    f"\nFinancial Analysis\n"
    f"____________________________________\n"
    f"Total_Months:{df['Profit/Losses'].count()}\n"
    f"Total: ${df['Profit/Losses'].sum()}\n"
    f"Average Change: ${(df['Change'].sum())/(df['Change'].count())}\n"
    f"Greatest Increase in profits: ${df['Change'].max()}\n"
    f"Greatest Decrease in profits: ${df['Change'].min()}\n"
)

In [96]:
print(output)

Financial Analysis
____________________________________
Total_Months:86
Total: $38382578
Average Change: $-2288.1976744186045
Greatest Increase in profits: $1926159.0
Greatest Decrease in profits: $-2196167.0

In [97]:
# Export results to text file

In [98]:
with open(file_to_output, "w") as txt_file:
    txt_file.write(output)